<div class="col-xs-4">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Pages</h3>
      <div class="box-tools">
        <button type="button" class="'btn btn-success btn-circle btn-checkall pull-right" *ngIf="checkedAll" (click)="onChangeAll()">
          <i class="fa fa-check"></i>
        </button>
        <button type="button" class="btn btn-defaut btn-circle btn-checkall pull-right" *ngIf="!checkedAll" (click)="onChangeAll()">
        </button>
      </div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
      <div class="mailbox-controls">

      </div>
      <ul class="nav nav-pills nav-stacked">
        <li *ngFor="let pg of pages">
          <a class="page-select" (click)="onChangeOne(pg)">
            <button type="button" class="btn btn-success btn-circle btn-checkone" *ngIf="pg.selected">
              <i class="fa fa-check"></i>
            </button>
            <label class="lbl-page">{{pg.name}}</label>
            <span class="label label-primary pull-right" *ngIf="pg.testsPage.length > 0">{{pg.testsPage.length}}</span>
          </a>
        </li>
      </ul>
      <!-- /.mail-box-messages -->
    </div>
    <div class="overlay" *ngIf="pages.length === 0">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    <!-- /.box-body -->
  </div>
  <!-- /. box -->
</div>